Django==1.10.2
psycopg2==2.6.2
Babel==2.3.4
django-filter==0.15.0
django-mptt==0.8.6
djangorestframework==3.4.7
django-redis==4.5.0
django-storages==1.5.1
celery==3.1.24
kombu==3.0.36
python-dateutil==2.5.3
redis==2.10.5
pytz==2016.6.1
geoip2==2.4.0
maxminddb==1.2.1
requests==2.11.1
pyOpenSSL==16.1.0
suds-jurko==0.6
croniter==0.3.12

django-crispy-forms==1.6.0
user-agents==1.0.1
django-redisboard==3.0.1

django-otp==0.3.6
qrcode==5.3
django-two-factor-auth==1.4.0

simpleeval==0.8.7
