amqp==5.3.1
azure-core==1.31.0
azure-storage-blob==12.14.1
babel==2.17.0
beautifulsoup4==4.13.3
boto3==1.36.26
celery==5.4.0
coreapi==2.3.3
coreschema==0.0.4
croniter==6.0.0
cryptography==44.0.1
deepdiff==8.2.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-cors-headers==4.7.0
django-cprofile-middleware==1.0.5
django-crispy-forms==2.3
django-cuser==2017.3.16
django-debug-toolbar==5.0.1
django-filter==21.1
django-js-asset==3.0.1
django-modeltranslation==0.19.10
django-mptt==0.16.0
django-redis==5.4.0
django-rest-swagger==2.2.0
django-storages-azure==1.6.8
django-storages==1.14.5
django-timezone-field==7.1
django-tinymce==4.1.0
Django==4.2.19
djangorestframework-simplejwt==5.4.0
djangorestframework==3.15.2
drf_yasg==1.21.8
filtration==2.3.0
flower==1.2.0
geoip2==5.0.1
gunicorn==23.0.0
memory-profiler==0.61.0
numpy==1.26.4
openpyxl==3.0.10
pandas==2.2.3
paramiko==3.3.2
pexpect==4.8.0
pillow==11.1.0
psutil==7.0.0
psycopg2-binary==2.9.10
pycryptodome==3.19.1
pygments==2.15.1
pympler==1.0.1
pyOpenSSL==25.0.0
pyotp==2.7.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-jose==3.4.0
pytz==2025.1
QuantLib==1.37
requests==2.32.3
sentry-sdk==2.22.0
sphinxcontrib-apidoc==0.5.0
sphinxcontrib-django==2.5
suds==1.1.2
whitenoise==6.9.0
