psycopg2==2.6.2
Babel==2.3.4
Django==1.10.1
django-filter==0.14.0
django-mptt==0.8.6
djangorestframework==3.4.6
django-redis==4.4.4
celery==3.1.23
django-celery==3.1.17
six==1.10.0
python-dateutil==2.5.3
redis==2.10.5
pytz==2016.6.1
geoip2==2.4.0
maxminddb==1.2.1
simpleeval==0.8.7
requests==2.11.1
pyOpenSSL==16.0.0
suds-jurko==0.6

django-redisboard==3.0.0

django-otp==0.3.6
qrcode==5.3

user-agents==1.0.1
