#header {
    background: #000;
}

a:link {
    color: #F05A22;
}

a:visited {
    color: rgba(240, 90, 34, .4);
}

div.breadcrumbs {
    background: #000
}

.module h2, .module caption, .inline-group h2 {
    background: #000
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #f05a22;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: rgba(240, 90, 34, .4);
}

span.s2 {
    background-color: transparent;
    color: yellow;
}