body {
    background: #000;
    color: #fff;
    font-family: Arial;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    opacity: .7;
}

.text-center {
    text-align: center;
}

.documentation-block {
    margin: 16px;
}

.api-description {
    padding: 8px;
    padding-left: 16px;
    font-size: 14px;
}