packages:
  yum:
    libtiff-devel: ''
    libjpeg-turbo-devel: ''
    libzip-devel: ''
    postgresql95-devel: ''
    geos-devel: ''
    zlib-devel: ''
    libffi-devel: ''
    git: ''
    GeoIP: ''
    mc: ''
    htop: ''


commands:
  gdal:
    command: "yum --enablerepo=epel -y install gdal-devel"
  proj:
    command: "yum --enablerepo=epel -y install proj-devel"
