commands:
  epel_repo:
    command: yum -y install epel-release

packages:
  yum:
    libtiff-devel: ''
    libjpeg-turbo-devel: ''
    libzip-devel: ''
    postgresql95-devel: ''
    gdal-devel: ''
    geos-devel: ''
    proj-devel: ''
    zlib-devel: ''
    libffi-devel: ''
    git: ''
    GeoIP: ''
    mc: ''
    htop: ''

