files:
  "/tmp/mkswap.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      FILE="/swapfile"
      if [ ! -f $FILE ]; then
        dd if=/dev/zero of=$FILE bs=1024 count=512k
        chown root:root $FILE
        chmod 0600 $FILE
        mkswap $FILE
        swapon $FILE
      fi

commands:
  mkswap:
    command: "/tmp/mkswap.sh"
