container_commands:
  01_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  02_createcachetable:
    command: "django-admin.py createcachetable"
    leader_only: true
  03_clearsessions:
    command: "django-admin.py clearsessions"
    leader_only: true
  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"
