files:
  "/etc/httpd/conf.d/wsgihacks.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization on
      WSGIApplicationGroup %{GLOBAL}

option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: poms_app/wsgi.py
    NumProcesses: 1
    NumThreads: 10
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/api/static/": "static/"