{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
  <link rel=stylesheet href=http://shuyu.github.io/angular-material-fileinput/dist/lf-ng-md-file-input.css>
  <link rel=stylesheet href={% static 'css/data_import.css' %}>
{% endblock %}
{% block content %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="https://dev.finmars.com">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault"></div>
  </nav>
  <div class="content" style="margin-top: 5em;">
    {% verbatim %}
    <div ng-controller="SchemaList" layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">
      <md-content layout-padding="">
        <div>
          <form name="userForm">
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="">
                <lf-ng-md-file-input lf-files="import.files"></lf-ng-md-file-input>
              </md-input-container>
              <md-input-container class="sm-block" flex-gt-sm="">
                <label>Error handling</label>
                <md-select ng-model="import.error_handling">
                  <md-option value="0">Break</md-option>
                  <md-option selected value="1">Continue</md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm="">
                <label>Import scheme</label>
                <md-select ng-model="import.schema" ng-change="update()">
                  <md-option ng-repeat="schema in schema_list" value="{{ schema.id }}" ng-selected="$index == 0">
                    {{ schema.name }}
                  </md-option>
                  <button class="md-button" type="button" data-ng-click="openModal($event, 0)">add new +</button>
                </md-select>
              </md-input-container>
              <button class="instrument-mapping-btn md-fab md-button" ng-disabled="!import.schema" type="button" data-ng-click="openModal($event, import)" aria-label="Edit mapping"><ng-md-icon icon="functions" size="24" style="fill:rgb(63,81,181)" class="ng-scope"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M18 4H6v2l6.5 6L6 18v2h12v-3h-7l5-5-5-5h7z"></path></svg></ng-md-icon></button>
              <button class="md-raised colored-btn instrument-load-btn md-button" type="button" data-ng-click="loadData($event)" aria-label="Load"><span class="ng-scope">Load</span></button>
            </div>
          </form>
        </div>
        {{ selected_schema }}
      </md-content>
    </div>
    {% endverbatim %}

  </div>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="http://shuyu.github.io/angular-material-fileinput/dist/lf-ng-md-file-input.js"></script>
  <script type=text/javascript src={% static 'js/import_data.js' %}></script>
{% endblock %}