{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="{% static 'css/redoc.css' %}">
</head>
<body>

<div class="logo">
    <a href="https://finmars.com"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
</div>

<div class="content">

    <div>
        <h3>API Reference</h3>
        <p><span class="color-orange">Finmars</span> API is organized around REST. Our API has predictable
            resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses
            standard HTTP response codes, authentication, and verbs.</p>
    </div>

    <div class="documentation-block">

        <h4 class="documentation-header">Data</h4>

        <div>
            <a href="/{{space_code}}/docs/api/v1/instrument">Instrument</a>
            <div class="api-description">
                <p>
                    The instrument entity represents a financial asset that can be bought and sold in Finmars.
                    Instruments can include stocks, bonds, mutual funds, and other types of securities.
                </p>
            </div>
        </div>

        <div>
            <a href="/{{space_code}}/docs/api/v1/account">Account</a>
            <div class="api-description">
                <p>
                    The /accounts/ API endpoint provides access to information about user accounts in Finmars. This
                    endpoint
                    allows users to create new accounts, retrieve information about existing accounts, and update
                    account
                    details.
                </p>
            </div>
        </div>
        <div>
            <a href="/{{space_code}}/docs/api/v1/portfolio">Portfolio</a>
            <div class="api-description">
                <p>
                    The portfolio entity represents a collection of financial assets held by a user in Finmars.
                    A portfolio is also linked to transactions, which represent the buying and selling of
                    financial assets within the portfolio.
                </p>
            </div>
        </div>
        <div>
            <a href="/{{space_code}}/docs/api/v1/currency">Currency</a>
            <div class="api-description">
                <p>
                    The currency entity represents a unit of currency used in Finmars. Each currency is identified by a
                    unique
                    code, and can have a corresponding name and symbol.
                </p>
            </div>
        </div>

    </div>
</div>

</body>
</html>