{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="{% static 'css/redoc.css' %}">
</head>
<body>

<div class="logo">
    <a href="https://finmars.com"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
</div>

<div class="content">

    <div>
        <h3>API Reference</h3>
        <p><span class="color-orange">Finmars</span> API is organized around REST. Our API has predictable
            resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses
            standard HTTP response codes, authentication, and verbs.</p>
    </div>

    <div class="documentation-block">

        <h4 class="documentation-header">Data</h4>

        <div class="display-flex-row">

            <div class="display-flex-column">

                <div class="documentation-endpoint-block">
                    <a href="/{{space_code}}/docs/api/v1/instrument">Instrument</a>
                    <div class="api-description">
                        <p>
                            The instrument entity represents a financial asset that can be bought and sold in Finmars.
                            Instruments can include stocks, bonds, mutual funds, and other types of securities.
                        </p>
                    </div>
                </div>

                <div class="documentation-endpoint-block">
                    <a href="/{{space_code}}/docs/api/v1/account">Account</a>
                    <div class="api-description">
                        <p>
                            The /accounts/ API endpoint provides access to information about user accounts in Finmars.
                            This
                            endpoint
                            allows users to create new accounts, retrieve information about existing accounts, and
                            update
                            account
                            details.
                        </p>
                    </div>
                </div>
                <div class="documentation-endpoint-block">
                    <a href="/{{space_code}}/docs/api/v1/portfolio">Portfolio</a>
                    <div class="api-description">
                        <p>
                            The portfolio entity represents a collection of financial assets held by a user in Finmars.
                            A portfolio is also linked to transactions, which represent the buying and selling of
                            financial assets within the portfolio.
                        </p>
                    </div>
                </div>
                <div class="documentation-endpoint-block">
                    <a href="/{{space_code}}/docs/api/v1/currency">Currency</a>
                    <div class="api-description">
                        <p>
                            The currency entity represents a unit of currency used in Finmars. Each currency is
                            identified by a
                            unique
                            code, and can have a corresponding name and symbol.
                        </p>
                    </div>
                </div>

            </div>

            <div class="display-flex-column">

                <div class="documentation-endpoint-block">
                    <a href="/{{space_code}}/docs/api/v1/transaction">Transaction</a>
                    <div class="api-description">
                        <p>
                            The transaction entity represents a single financial transaction that occurs in Finmars.
                            Each transaction is associated with a user account and a financial instrument, and includes
                            details such as the transaction type (buy or sell), the quantity of shares or units traded,
                            and the price per share or unit.
                        </p>
                    </div>
                </div>

                <div class="documentation-endpoint-block">
                    <a href="/{{space_code}}/docs/api/v1/instrument#tag/Price-History">Price History</a>
                    <div class="api-description">
                        <p>
                            The price history entity represents the historical prices for a financial instrument in
                            Finmars. Each price history object includes the date of the price, the price itself, and
                            pricing policy.
                        </p>
                    </div>
                </div>

                <div class="documentation-endpoint-block">
                    <a href="/{{space_code}}/docs/api/v1/currency#tag/Currency-History">FX Rate History</a>
                    <div class="api-description">
                        <p>
                            The FX rate history entity represents the historical exchange rates between two currencies
                            in Finmars. Each FX rate history object includes the rate to the Space Base Currency
                            and the date of the rate update.
                        </p>
                    </div>
                </div>

                <div class="documentation-endpoint-block">
                    <a href="/{{space_code}}/docs/api/v1/counterparty">Counterparty</a>
                    <div class="api-description">
                        <p>
                            The counterparty entity represents a financial institution, broker, or company that our
                            users interact with in our fintech app. A counterparty can be a bank where a user holds an
                            account, a brokerage firm where a user invests, or a company where a user has a financial
                            interest. Each counterparty object includes details such as the name, contact information,
                            and the user accounts associated with the counterparty.
                        </p>
                    </div>
                </div>

                <div class="documentation-endpoint-block">
                    <a href="/{{space_code}}/docs/api/v1/counterparty#tag/Responsible">Responsible</a>
                    <div class="api-description">
                        <p>
                            The responsible entity represents a person or department responsible for managing finance
                            assets in organization. Each responsible object includes details such as the name,
                            contact information, and the assets assigned to the responsible party.
                        </p>
                    </div>
                </div>


            </div>


        </div>


    </div>
</div>

</body>
</html>