<md-dialog aria-label="" ng-cloak class="entity-type-mapping-dialog-view draggable-dialog" style="width: 50%" drag-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Entity type mapping</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content data-custom-scroll class="custom-scrollbar" style="background: #E5E5E5">
    <div>
      <md-card>
        <md-card-content style="padding-top: 16px; padding-bottom: 0">
          <div data-ng-if="vm.mapEntityType == 'classifier'">
            <div layout="row" style="margin-bottom: 20px">
              <div flex="50" data-ng-click="vm.setSort('mapping.value')"><b>Your value </b><span class="sortorder" data-ng-show="vm.sort === 'mapping.value'" data-ng-class="{reverse: vm.direction}"></span></div>
              <div flex="40" data-ng-click="vm.setSort('name')"><b>Map on {{vm.fancyEntity()}} </b><span class="sortorder" data-ng-show="vm.sort === 'name'" data-ng-class="{reverse: vm.direction}"></span></div>
              <div flex="10">
                <ng-md-icon data-ng-click="vm.toggleQuery()" icon="search"></ng-md-icon>
              </div>
            </div>
            <div layout="row" style="margin-bottom: 20px" data-ng-if="vm.queryStatus" class="filter-row-holder">
              <div flex="50">
                <md-input-container>
                  <ng-md-icon icon="search"></ng-md-icon>
                  <input type="text" data-ng-model="vm.query.mapping.value">
                </md-input-container>
              </div>
              <div flex="50">
                <md-input-container>
                  <ng-md-icon icon="search"></ng-md-icon>
                  <input type="text" data-ng-model="vm.query.name">
                </md-input-container>
              </div>
            </div>
            <!--<div data-ng-repeat="item in vm.entityItems | filter:vm.query | orderBy:vm.sort:vm.direction">--><!--<div layout="row">--><!--<div flex="50">--><!--<md-input-container>--><!--<label for="">Value</label>--><!--<input type="text" data-ng-model="item.mapping.value">--><!--</md-input-container>--><!--</div>--><!--<div flex="50">--><!--<p data-ng-bind="item.name"></p>--><!--</div>--><!--</div>--><!--</div>-->
            <div data-ng-repeat="item in vm.entityItems | filter:vm.query | orderBy:vm.sort:vm.direction">
              <div layout="row" data-ng-repeat="mappingItem in item.mapping" data-ng-show="!mappingItem.isDeleted">
                <div flex="50" layout="row">
                  <md-input-container><label for="">Value</label><input type="text" data-ng-model="mappingItem.value"></md-input-container>
                  <div layout="row">
                    <md-button data-ng-click="vm.addMapping(item)" class="md-raised md-icon-button">+</md-button>
                    <md-button data-ng-click="vm.removeMapping(item, mappingItem, $index)" data-ng-show="item.mapping.length > 1" class="md-raised md-icon-button">-</md-button>
                  </div>
                </div>
                <div flex="50">
                  <!--{{item}}-->
                  <p data-ng-bind="vm.bindEntityName(item)"></p>
                </div>
              </div>
            </div>
          </div>
          <div data-ng-if="vm.mapEntityType != 'classifier'">
            <div layout="row" style="margin-bottom: 20px">
              <div flex="50" data-ng-click="vm.setSort('mapping.value')"><b>Your value </b><span class="sortorder" data-ng-show="vm.sort === 'mapping.value'" data-ng-class="{reverse: vm.direction}"></span></div>
              <div flex="40" data-ng-click="vm.setSort('name')"><b>Map on {{vm.fancyEntity()}} </b><span class="sortorder" data-ng-show="vm.sort === 'name'" data-ng-class="{reverse: vm.direction}"></span></div>
              <div flex="10">
                <ng-md-icon data-ng-click="vm.toggleQuery()" icon="search"></ng-md-icon>
              </div>
            </div>
            <div layout="row" style="margin-bottom: 20px" data-ng-if="vm.queryStatus" class="filter-row-holder">
              <div flex="50">
                <md-input-container>
                  <ng-md-icon icon="search"></ng-md-icon>
                  <input type="text" data-ng-model="vm.query.mapping.value">
                </md-input-container>
              </div>
              <div flex="50">
                <md-input-container>
                  <ng-md-icon icon="search"></ng-md-icon>
                  <input type="text" data-ng-model="vm.query.name">
                </md-input-container>
              </div>
            </div>
            <div data-ng-repeat="item in vm.entityItems | filter:vm.query | orderBy:vm.sort:vm.direction">
              <div layout="row" data-ng-repeat="mappingItem in item.mapping" data-ng-show="!mappingItem.isDeleted">
                <div flex="50" layout="row">
                  <md-input-container><label for="">Value</label><input type="text" data-ng-model="mappingItem.value"></md-input-container>
                  <div layout="row">
                    <md-button data-ng-click="vm.addMapping(item)" class="md-raised md-icon-button">+</md-button>
                    <md-button data-ng-click="vm.removeMapping(item, mappingItem, $index)" data-ng-show="item.mapping.length > 1" class="md-raised md-icon-button">-</md-button>
                  </div>
                </div>
                <div flex="50">
                  <p data-ng-bind="vm.bindEntityName(item)"></p>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button class="md-raised" ng-click="vm.cancel()">Cancel</md-button>
    <md-button class="md-raised" ng-click="vm.agree()" style="margin-right:20px">Save</md-button>
  </md-dialog-actions>
</md-dialog>