<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Update schema manager</h2>
        <md-button class="md-icon-button" ng-click="cancel()">x</md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="layout-row">
          <input type="text" data-ng-model="schema.name" class="ng-pristine ng-untouched ng-valid md-input ng-not-empty" aria-invalid="false">
        </div>
        <div class="layout-row">
          <md-select ng-model="schema.model">
            <md-option ng-repeat="model in models" value="{{ model.id }}">
              {{ model.model }}
            </md-option>
            <!-- <button class="md-button" type="button" data-ng-click="openModal($event, 'add_schema')">add new +</button> -->
          </md-select>
        </div>

        <div class="fields-holder layout-row" data-ng-repeat="field in field_list" layout="row">
          <div class="iscm-item layout-row" layout="row">
            <span style="position: relative; top: 8px">#</span>
            <md-input-container flex="20" class="md-input-has-value flex-20">
              <!--<label for="">Number</label>-->
              <input type="text" data-ng-model="field.num" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id="input_159" aria-invalid="false" style="">
              <div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container flex="70" class="md-input-has-value flex-70">
              <!--<label for="">Name</label>-->
              <input type="text" data-ng-model="field.source" class="ng-pristine ng-untouched ng-valid md-input ng-not-empty" id="input_160" aria-invalid="false">
              <div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container flex="70" class="md-input-has-value flex-70">
              <!--<label for="">Name</label>-->
              <input type="text" data-ng-model="field.target" class="ng-pristine ng-untouched ng-valid md-input ng-not-empty" id="input_160" aria-invalid="false">
              <div class="md-errors-spacer"></div>
            </md-input-container>
            </div>
            <div>
              <button class="md-raised md-button md-ink-ripple" type="button" style="min-width: 40px" data-ng-click="removeField(item, $index)" aria-label="x"><span class="ng-scope">x</span></button>
            </div>
        </div>
      <button class="md-button" type="button" data-ng-click="copyField()">add field</button>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="saveSchema()">
        Update
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>