<md-dialog aria-label="Update schema" flex="66">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Update schema manager</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="layout-row">
          <input type="text" aria-label="name" data-ng-model="schema.name" class="ng-pristine ng-untouched ng-valid md-input ng-not-empty" aria-invalid="false">
        </div>
        <div class="layout-row">
          <md-select ng-model="model">
            <md-option ng-repeat="model in models" value="{{ model.id }}" ng-selected="selectedModel(model, schema.model)">{{ model.model }}</md-option>
          </md-select>
        </div>
        <div class="layout-row">
          <div class="layout-column flex-25">
            <div layout="row" class="layout-row">
              <h4>Imported columns</h4>
            </div>
            <div class="fields-holder layout-row" data-ng-repeat="field in field_list" layout="row">
              <div class="iscm-item layout-row" layout="row">
                <span style="position: relative; top: 8px">#</span>
                <md-input-container flex="30" class="md-input-has-value flex-30">
                  <!--<label for="">Number</label>-->
                  <input type="text" aria-label="num" data-ng-model="field.num" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id="input_159" aria-invalid="false" style="">
                  <div class="md-errors-spacer"></div>
                </md-input-container>
                <md-input-container flex="70" class="md-input-has-value flex-70">
                  <!--<label for="">Name</label>-->
                  <input type="text" aria-label="source" data-ng-model="field.source" class="ng-pristine ng-untouched ng-valid md-input ng-not-empty" id="input_160" aria-invalid="false">
                  <div class="md-errors-spacer"></div>
                </md-input-container>
                <div>
                  <button class="md-raised md-button md-ink-ripple" type="button" style="min-width: 40px" data-ng-click="removeField(field, $index)" aria-label="x">
                    <span class="ng-scope">x</span>
                  </button>
                </div>
              </div>
            </div>
            <md-button ng-click="copyField()">Add field</md-button>
          </div>
          <div class="layout-column flex-75">
            <div layout="row" class="layout-row">
              <h4>Data matching</h4>
            </div>
            <div class="fields-holder layout-row" data-ng-repeat="match in matching_list" layout="row">
              <div class="iscm-item layout-row" layout="row">
                <md-input-container flex="40" class="md-input-has-value flex-40">
                  <input type="text" aria-label="field" data-ng-model="match.model_field" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" aria-invalid="false">
                </md-input-container>
                <md-input-container flex="70" class="md-input-has-value flex-70">
                  <input type="text" aria-label="expression" data-ng-model="match.expression" class="ng-pristine ng-untouched ng-valid md-input ng-not-empty" aria-invalid="false">
                  <div class="md-errors-spacer"></div>
                </md-input-container>
                <div flex="50" layout="row" class="layout-row flex-50">
                  <button class="md-raised md-primary expr-btn md-button md-ink-ripple" type="button" data-ng-click="openExpressionDialog($event, match)" aria-label="...">
                    <span class="ng-scope">...</span>
                    <div class="md-ripple-container" style=""></div>
                  </button>
                  <button class="md-raised md-primary complex-expr-btn md-button md-ink-ripple" ng-if="match.related" type="button" data-ng-click="openMapping($event, match)" aria-label="Edit mapping">
                    <span class="ng-scope">Edit mapping</span><div class="md-ripple-container" style=""></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">Cancel</md-button>
      <md-button ng-click="saveSchema()">Update</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>