name: Manual Patch Release

on:
  workflow_dispatch:

permissions:
  contents: write 

jobs:
  versioning:
    name: Bump Patch Version
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4

      - name: Fetch tags
        run: git fetch --tags

      - name: Get latest version
        id: get_tag
        run: |
          latest_tag=$(git tag --sort=-v:refname | head -n1)
          echo "Latest tag: $latest_tag"
          echo "latest_tag=$latest_tag" >> $GITHUB_OUTPUT

      - name: Calculate new minor version
        id: bump_patch
        run: |
          latest_tag=${{ steps.get_tag.outputs.latest_tag }}
          IFS='-' read -r version suffix <<< "$latest_tag"
          new_version="$version-stable"
          echo "new_version=$new_version" >> $GITHUB_OUTPUT

      - name: Create new tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag ${{ steps.bump_patch.outputs.new_version }}
          git push origin ${{ steps.bump_patch.outputs.new_version }}

    outputs:
      version: ${{ steps.bump_patch.outputs.new_version }}

  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: versioning
    steps:
      - uses: actions/checkout@v4

      - name: Some build
        run: echo "Some build ${{ needs.versioning.outputs.version }}"
